body {
    font-family: 'Noto Serif Display', serif;
    font-weight: 400;
    text-align: center;
    background: rgb(238,174,202);
    background-image: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.header, .fill-in {
    border-style:solid;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgb(63, 63, 63);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-right: 30%;
    margin-left: 30%;
    background-color: white;
}

.fill-in {
    display: block;
    padding: 5%;
}

table, th, td {
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
th{
    /* background-color: black;
    color: white; */
    background-color: rgb(63, 63, 63);
    color: white;
    /* background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0); */
}

.grob{
    border-color: red;
}

.hidden{
    display: none;
}

.container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
